.pagination{
    --bs-pagination-color: #311B92 !important;
    --bs-pagination-hover-color: #BA68C8 !important;
    --bs-pagination-focus-color: #8E24AA !important;
    --bs-pagination-active-bg: #4A148C !important;
    --bs-pagination-active-border-color: #4A148C !important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(125, 32, 192, 0.25) !important;
}